<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.file_server.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.example.file_server.entity.Room">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_uuid" jdbcType="VARCHAR" property="roomUuid" />
    <result column="room_enable" jdbcType="INTEGER" property="roomEnable" />
    <result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="room_create_at" jdbcType="TIMESTAMP" property="roomCreateAt" />
    <result column="stream_type" jdbcType="VARCHAR" property="streamType" />
    <result column="stream_address" jdbcType="VARCHAR" property="streamAddress" />
    <result column="stream_app" jdbcType="VARCHAR" property="streamApp" />
    <result column="stream_name" jdbcType="VARCHAR" property="streamName" />
    <result column="stream_param" jdbcType="VARCHAR" property="streamParam" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, room_uuid, room_enable, room_type, room_create_at, stream_type, stream_address, 
    stream_app, stream_name, stream_param
  </sql>
  <select id="selectByExample" parameterType="com.example.file_server.entity.RoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.file_server.entity.RoomExample">
    delete from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.file_server.entity.Room">
    insert into room (id, room_uuid, room_enable, 
      room_type, room_create_at, stream_type, 
      stream_address, stream_app, stream_name, 
      stream_param)
    values (#{id,jdbcType=INTEGER}, #{roomUuid,jdbcType=VARCHAR}, #{roomEnable,jdbcType=INTEGER}, 
      #{roomType,jdbcType=VARCHAR}, #{roomCreateAt,jdbcType=TIMESTAMP}, #{streamType,jdbcType=VARCHAR}, 
      #{streamAddress,jdbcType=VARCHAR}, #{streamApp,jdbcType=VARCHAR}, #{streamName,jdbcType=VARCHAR}, 
      #{streamParam,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.file_server.entity.Room">
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomUuid != null">
        room_uuid,
      </if>
      <if test="roomEnable != null">
        room_enable,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="roomCreateAt != null">
        room_create_at,
      </if>
      <if test="streamType != null">
        stream_type,
      </if>
      <if test="streamAddress != null">
        stream_address,
      </if>
      <if test="streamApp != null">
        stream_app,
      </if>
      <if test="streamName != null">
        stream_name,
      </if>
      <if test="streamParam != null">
        stream_param,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomUuid != null">
        #{roomUuid,jdbcType=VARCHAR},
      </if>
      <if test="roomEnable != null">
        #{roomEnable,jdbcType=INTEGER},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomCreateAt != null">
        #{roomCreateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="streamType != null">
        #{streamType,jdbcType=VARCHAR},
      </if>
      <if test="streamAddress != null">
        #{streamAddress,jdbcType=VARCHAR},
      </if>
      <if test="streamApp != null">
        #{streamApp,jdbcType=VARCHAR},
      </if>
      <if test="streamName != null">
        #{streamName,jdbcType=VARCHAR},
      </if>
      <if test="streamParam != null">
        #{streamParam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.file_server.entity.RoomExample" resultType="java.lang.Long">
    select count(*) from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update room
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomUuid != null">
        room_uuid = #{record.roomUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.roomEnable != null">
        room_enable = #{record.roomEnable,jdbcType=INTEGER},
      </if>
      <if test="record.roomType != null">
        room_type = #{record.roomType,jdbcType=VARCHAR},
      </if>
      <if test="record.roomCreateAt != null">
        room_create_at = #{record.roomCreateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.streamType != null">
        stream_type = #{record.streamType,jdbcType=VARCHAR},
      </if>
      <if test="record.streamAddress != null">
        stream_address = #{record.streamAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.streamApp != null">
        stream_app = #{record.streamApp,jdbcType=VARCHAR},
      </if>
      <if test="record.streamName != null">
        stream_name = #{record.streamName,jdbcType=VARCHAR},
      </if>
      <if test="record.streamParam != null">
        stream_param = #{record.streamParam,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update room
    set id = #{record.id,jdbcType=INTEGER},
      room_uuid = #{record.roomUuid,jdbcType=VARCHAR},
      room_enable = #{record.roomEnable,jdbcType=INTEGER},
      room_type = #{record.roomType,jdbcType=VARCHAR},
      room_create_at = #{record.roomCreateAt,jdbcType=TIMESTAMP},
      stream_type = #{record.streamType,jdbcType=VARCHAR},
      stream_address = #{record.streamAddress,jdbcType=VARCHAR},
      stream_app = #{record.streamApp,jdbcType=VARCHAR},
      stream_name = #{record.streamName,jdbcType=VARCHAR},
      stream_param = #{record.streamParam,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.file_server.entity.Room">
    update room
    <set>
      <if test="roomUuid != null">
        room_uuid = #{roomUuid,jdbcType=VARCHAR},
      </if>
      <if test="roomEnable != null">
        room_enable = #{roomEnable,jdbcType=INTEGER},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomCreateAt != null">
        room_create_at = #{roomCreateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="streamType != null">
        stream_type = #{streamType,jdbcType=VARCHAR},
      </if>
      <if test="streamAddress != null">
        stream_address = #{streamAddress,jdbcType=VARCHAR},
      </if>
      <if test="streamApp != null">
        stream_app = #{streamApp,jdbcType=VARCHAR},
      </if>
      <if test="streamName != null">
        stream_name = #{streamName,jdbcType=VARCHAR},
      </if>
      <if test="streamParam != null">
        stream_param = #{streamParam,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.file_server.entity.Room">
    update room
    set room_uuid = #{roomUuid,jdbcType=VARCHAR},
      room_enable = #{roomEnable,jdbcType=INTEGER},
      room_type = #{roomType,jdbcType=VARCHAR},
      room_create_at = #{roomCreateAt,jdbcType=TIMESTAMP},
      stream_type = #{streamType,jdbcType=VARCHAR},
      stream_address = #{streamAddress,jdbcType=VARCHAR},
      stream_app = #{streamApp,jdbcType=VARCHAR},
      stream_name = #{streamName,jdbcType=VARCHAR},
      stream_param = #{streamParam,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>