<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.file_server.mapper.SrsStreamsMapper">
  <resultMap id="BaseResultMap" type="com.example.file_server.entity.SrsStreams">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="server_id" jdbcType="VARCHAR" property="server_id" />
    <result column="service_id" jdbcType="VARCHAR" property="service_id" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="client_id" jdbcType="VARCHAR" property="client_id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="vhost" jdbcType="VARCHAR" property="vhost" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="tcUrl" jdbcType="VARCHAR" property="tcUrl" />
    <result column="stream" jdbcType="VARCHAR" property="stream" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="stream_url" jdbcType="VARCHAR" property="stream_url" />
    <result column="stream_id" jdbcType="VARCHAR" property="stream_id" />
    <result column="create_at" jdbcType="TIMESTAMP" property="create_at" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, server_id, service_id, action, client_id, ip, vhost, app, tcUrl, stream, param, 
    stream_url, stream_id, create_at
  </sql>
  <select id="selectByExample" parameterType="com.example.file_server.entity.SrsStreamsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from srs_streams
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from srs_streams
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from srs_streams
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.file_server.entity.SrsStreamsExample">
    delete from srs_streams
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.file_server.entity.SrsStreams">
    insert into srs_streams (id, server_id, service_id, 
      action, client_id, ip, 
      vhost, app, tcUrl, 
      stream, param, stream_url, 
      stream_id, create_at)
    values (#{id,jdbcType=INTEGER}, #{server_id,jdbcType=VARCHAR}, #{service_id,jdbcType=VARCHAR}, 
      #{action,jdbcType=VARCHAR}, #{client_id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{vhost,jdbcType=VARCHAR}, #{app,jdbcType=VARCHAR}, #{tcUrl,jdbcType=VARCHAR}, 
      #{stream,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}, #{stream_url,jdbcType=VARCHAR}, 
      #{stream_id,jdbcType=VARCHAR}, #{create_at,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.file_server.entity.SrsStreams">
    insert into srs_streams
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="server_id != null">
        server_id,
      </if>
      <if test="service_id != null">
        service_id,
      </if>
      <if test="action != null">
        action,
      </if>
      <if test="client_id != null">
        client_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="vhost != null">
        vhost,
      </if>
      <if test="app != null">
        app,
      </if>
      <if test="tcUrl != null">
        tcUrl,
      </if>
      <if test="stream != null">
        stream,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="stream_url != null">
        stream_url,
      </if>
      <if test="stream_id != null">
        stream_id,
      </if>
      <if test="create_at != null">
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="server_id != null">
        #{server_id,jdbcType=VARCHAR},
      </if>
      <if test="service_id != null">
        #{service_id,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="client_id != null">
        #{client_id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="vhost != null">
        #{vhost,jdbcType=VARCHAR},
      </if>
      <if test="app != null">
        #{app,jdbcType=VARCHAR},
      </if>
      <if test="tcUrl != null">
        #{tcUrl,jdbcType=VARCHAR},
      </if>
      <if test="stream != null">
        #{stream,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="stream_url != null">
        #{stream_url,jdbcType=VARCHAR},
      </if>
      <if test="stream_id != null">
        #{stream_id,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null">
        #{create_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.file_server.entity.SrsStreamsExample" resultType="java.lang.Long">
    select count(*) from srs_streams
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update srs_streams
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.server_id != null">
        server_id = #{record.server_id,jdbcType=VARCHAR},
      </if>
      <if test="record.service_id != null">
        service_id = #{record.service_id,jdbcType=VARCHAR},
      </if>
      <if test="record.action != null">
        action = #{record.action,jdbcType=VARCHAR},
      </if>
      <if test="record.client_id != null">
        client_id = #{record.client_id,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.vhost != null">
        vhost = #{record.vhost,jdbcType=VARCHAR},
      </if>
      <if test="record.app != null">
        app = #{record.app,jdbcType=VARCHAR},
      </if>
      <if test="record.tcUrl != null">
        tcUrl = #{record.tcUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.stream != null">
        stream = #{record.stream,jdbcType=VARCHAR},
      </if>
      <if test="record.param != null">
        param = #{record.param,jdbcType=VARCHAR},
      </if>
      <if test="record.stream_url != null">
        stream_url = #{record.stream_url,jdbcType=VARCHAR},
      </if>
      <if test="record.stream_id != null">
        stream_id = #{record.stream_id,jdbcType=VARCHAR},
      </if>
      <if test="record.create_at != null">
        create_at = #{record.create_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update srs_streams
    set id = #{record.id,jdbcType=INTEGER},
      server_id = #{record.server_id,jdbcType=VARCHAR},
      service_id = #{record.service_id,jdbcType=VARCHAR},
      action = #{record.action,jdbcType=VARCHAR},
      client_id = #{record.client_id,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      vhost = #{record.vhost,jdbcType=VARCHAR},
      app = #{record.app,jdbcType=VARCHAR},
      tcUrl = #{record.tcUrl,jdbcType=VARCHAR},
      stream = #{record.stream,jdbcType=VARCHAR},
      param = #{record.param,jdbcType=VARCHAR},
      stream_url = #{record.stream_url,jdbcType=VARCHAR},
      stream_id = #{record.stream_id,jdbcType=VARCHAR},
      create_at = #{record.create_at,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.file_server.entity.SrsStreams">
    update srs_streams
    <set>
      <if test="server_id != null">
        server_id = #{server_id,jdbcType=VARCHAR},
      </if>
      <if test="service_id != null">
        service_id = #{service_id,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="client_id != null">
        client_id = #{client_id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="vhost != null">
        vhost = #{vhost,jdbcType=VARCHAR},
      </if>
      <if test="app != null">
        app = #{app,jdbcType=VARCHAR},
      </if>
      <if test="tcUrl != null">
        tcUrl = #{tcUrl,jdbcType=VARCHAR},
      </if>
      <if test="stream != null">
        stream = #{stream,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="stream_url != null">
        stream_url = #{stream_url,jdbcType=VARCHAR},
      </if>
      <if test="stream_id != null">
        stream_id = #{stream_id,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null">
        create_at = #{create_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.file_server.entity.SrsStreams">
    update srs_streams
    set server_id = #{server_id,jdbcType=VARCHAR},
      service_id = #{service_id,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      client_id = #{client_id,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      vhost = #{vhost,jdbcType=VARCHAR},
      app = #{app,jdbcType=VARCHAR},
      tcUrl = #{tcUrl,jdbcType=VARCHAR},
      stream = #{stream,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      stream_url = #{stream_url,jdbcType=VARCHAR},
      stream_id = #{stream_id,jdbcType=VARCHAR},
      create_at = #{create_at,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>